name: Build Test and deploy
run-name: ${{ github.actor }} is building and testing the emulator! 
on: [push]
env:
  CARGO_TERM_COLOR: always
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        # Linter uses git history
        with:
          fetch-depth: 0
      - name: Pass linter
        run: |
          cargo clippy -- -Dwarnings
        
  build:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Linter uses git history
          fetch-depth: 0
      - name: Build Docker image
        run: docker build -t rbgb-ci .
      - name: Run tests in Docker
        run: docker run --rm rbgb-ci

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder for deployment to device
        run: |
          echo "TEST :)"


